<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ashish Portfolio !</title>
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/css/style.css">
</head>

<body>
    <div class="site-wrapper">
        <button class="hambuger">
            <img src="./static/images/menu.jpg" alt="">
        </button>
        <div class="mob-nav">
            <div class="logo">
                <img src="./static/images/logo-ass.png" alt="">
            </div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#aboutme">About Me</a></li>
                <li><a href="#service">Services</a></li>
                <li><a href="#myworkes">My Works</a></li>
                <li><a href="#contactme">Contact Us</a></li>
            </ul>
        </div>
        <header>
       <!-- {% if messages %}
        {% for message in messages %}
                <div class="alert alert-{{message.tag}} alert-dismissible fade show" role="alert">
 {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}-->
            <div class="container">
                <nav id="main-nav" class="flex items-center justify-between">
                    <div class="left flex items-center">

                        <img src="./static/images/logo-ass.png" alt="">
                        <div>
                            <a href="#">Home</a>
                            <a href="#aboutme">About Me</a>
                            <a href="#service">Services</a>
                            <a href="#myworkes">My Works</a>

                        </div>
                    </div>
                    <div class="right">
                        <a href="#contactme">
                            <button class="btn btn-primary">Contact</button>
                        </a>
                    </div>
                </nav>
                <div class="imagess flex items-center justify-between">
                    <div class="left flex-1 flex justify-center">
                        <img src="./static/images/ashish.png" alt="">
                    </div>
                    <div class="right flex-1">
                        <h5>Ashish Saini</h5>
                        <h1>I'm a creative
                            <span>Desiginer</span></h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, minima cum nihil veniam maiores, ea corporis exercitationem iusto cumque recusandae quae fugit assumenda cupiditate aliquam ab ullam, odit repudiandae harum.

                        </p>
                        <a href="./Ashish Saini (2).docx" download>
                            <button class="btn btn-secondary">Download Cv</button>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <section id="aboutme" class="about">
            <div class="container flex">
                <div class="left flex-1 flex justify-center">
                    <img src="./static/images/man-2.png" alt="">
                </div>
                <div class="right flex-1">
                    <h1>About <span>Me</span></h1>
                    <h3>Hello! I'm Ashish Saini</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, omnis placeat sapiente commodi voluptatibus hic architecto repellendus ullam? Doloribus eos placeat dolor temporibus tempore accusantium veritatis corrupti minima
                        amet pariatur?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quod ipsam accusantium molestiae doloremque non harum dolorem deleniti minus esse rem inventore itaque asperiores pariatur repellat quisquam, quibusdam illum alias.
                    </p>

                </div>
            </div>
        </section>
        <section id="service" class="services">
            <div class="container">
                <div class="heading">
                    <h1><span>Our </span>Services</h1>
                    <p class="para1">we offer high standard of website solution for your bussines problems</p>
                </div>
                <div class="card_wrap">
                    <div class="card">
                        <img src="./static/images/andriod.png" alt="">
                        <h2>Mobile app Development</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing</p>
                    </div>

                    <div class="card">
                        <img src="./static/images/webdevep.png" alt="">
                        <h2>Website Development</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing</p>
                    </div>
                    <div class="card">
                        <img src="./static/images/dbms.png" alt="">
                        <h2>Database Management</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing</p>
                    </div>
                    <div class="card">
                        <img src="./static/images/prog.jpg" alt="">
                        <h2>programimng</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing</p>
                    </div>
                    <div class="card">
                        <img src="./static/images/webhosting.jpg" alt="">
                        <h2>Web Hosting</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing</p>
                    </div>
                    <div class="card">
                        <img src="./static/images/pcapp.png" alt="">
                        <h2>App Development</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="freelencer">
            <div>
                <h1>We are also avaliabe on freelencer</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda consequuntur voluptatibus debitis fugit esse architecto! Vero delectus possimus deleniti libero quas aliquid quos neque cum magnam voluptatibus? Asperiores, doloremque nulla?
                </p>

            </div>

        </section>
        <section id="myworkes" class="works">
            <div class="heading container">
                <h1>My works <span class="first"> sample</span></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In laborum officiis suscipit quidem sed aut neque eum maiores, similique quaerat officia deleniti magnam quas, iusto, dolore incidunt voluptates dolor reprehenderit?

                </p>

                <div class="card_wraps">
                    <div class="cards">
                        <div class="overlay">
                            <span class="sec">Category</span>
                            <a href="#">Web Development</a>

                        </div>
                        <img src="./static/images/ph-1.png" alt="">
                    </div>
                    <div class="cards">
                        <div class="overlay">
                            <span class="sec">Category</span>
                            <a href="#">Web Development</a>
                        </div>
                        <img src="./static/images/ph-1.png" alt="">
                    </div>
                    <div class="cards">
                        <div class="overlay">
                            <span class="sec">Category</span>
                            <a href="#">Web Development</a>
                        </div>
                        <img src="./static/images/ph-1.png" alt="">
                    </div>
                    <div class="cards">
                        <div class="overlay">
                            <span class="sec">Category</span>
                            <a href="#">Web Development</a>
                        </div>
                        <img src="./static/images/ph-1.png" alt="">
                    </div>
                    <div class="cards">
                        <div class="overlay">
                            <span class="sec">Category</span>
                            <a href="#">Web Development</a>
                        </div>
                        <img src="./static/images/ph-1.png" alt="">
                    </div>
                    <div class="cards">
                        <div class="overlay">
                            <span class="sec">Category</span>
                            <a href="#">Web Development</a>
                        </div>
                        <img src="./static/images/ph-1.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section id="contactme" class="contact">
            <div class="container">
                <div class="heading">
                    <h1>Contact <span>Us</span></h1>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus modi optio, consectetur accusantium dicta quas earum minus quasi excepturi quam fugit dolorum nemo cupiditate tempore est assumenda, molestiae suscipit tempora!

                    </p>

                </div>
                <div class="card-wraps">
                    <div class="card">
                        <img src="./static/images/phone.png" alt="">
                        <h1>Call Us</h1>
                        <h6>+91-8058450553</h6>
                    </div>
                    <div class="card">
                        <img src="./static/images/email.png" alt="">
                        <h1>Mail us</h1>
                        <h6>ashish.m.saini999@gmail.com</h6>
                    </div>
                    <div class="card">
                        <img src="./static/images/map.png" alt="">
                        <h1>Visit Office</h1>
                        <h6>Near Axix Bank, Ward no. 5 pilani, Raj. India</h6>
                    </div>
                </div>
                <form method="POST" action="#">
                {% csrf_token %}
                    <div class="input1">
                        <input type="text" name="name" id="" placeholder="Enter your Name*">
                        <input type="email" name="email" id="" placeholder="Enter Your Mail*">
                    </div>
                    <div class="input2">
                        <input type="text" name="subject" id="" placeholder="Enter your subject*">
                        <textarea name="Message" id="" cols="30" rows="10" placeholder="Enter Your Message*"></textarea>
                    </div>
                    <div class="butn">

                        <button class="btn btn-primary">
                    Send Meassage
                </button></div>
                </form>
            </div>
        </section>
        
        <footer>
            <div class="logo">
                <img src="./static/images/logo-ass.png" alt="">
            </div>
            <div class="container social-link">
                <a href=""><img src="./static/images/facebook-logo.png" alt=""></a>
                <a href=""><img src="./static/images/instagram.png" alt=""></a>
                <a href=""><img src="./static/images/twitter.png" alt=""></a>

                <p>copyright 2020. All Right Reserved</p>
            </div>
        </footer>
    </div>
    <script>
        let hembeger = document.querySelector('.hambuger');
        let mobNav = document.querySelector('.mob-nav');

        hembeger.addEventListener('click', function() {
            mobNav.classList.add('open');
        });
        mobNav.addEventListener('click', function() {
            mobNav.classList.remove('open')
        });
    </script>
</body>

</html>